<template>
    <main class="campaign-detail">
        <Header :campaign="campaign" />
        <Title :campaign="campaign" :isLoading="isLoading" />
        <Content :campaign="campaign" :isLoading="isLoading" />
        <History :campaign="campaign" :isLoading="isLoading" />
        <Footer />
    </main>
</template>

<script>
/* Initialize vuex. */
import { mapActions, mapGetters } from 'vuex'

/* Import components. */
import Footer from '@/components/Footer.vue'
import Header from '@/components/Header.vue'

import Content from './Details/Content.vue'
import History from './Details/History.vue'
import Title from './Details/Title.vue'

/* Import jQuery. */
// FIXME: Remove ALL jQuery dependencies.
// const $ = window.jQuery

export default {
    components: {
        Footer,
        Header,

        Content,
        History,
        Title,
    },
    watch: {
        // $route(_to, _from) {
        //     // console.log('WATCHING ROUTE (to):', _to)
        //     // console.log('WATCHING ROUTE (from):', _from)
        //
        //     /* Validate query change. */
        //     if (_to.query !== _from.query) {
        //         /* Set extended slug. */
        //         this.fundId = Object.keys(_to.query)[0]
        //         console.log('FUND ID (from query)', this.fundId)
        //
        //         // TODO: Adjust for mobile
        //         // window.scrollTo({ top: 1050, behavior: 'smooth' })
        //         window.scrollTo({ top: 425, behavior: 'smooth' })
        //     }
        // }
    },
    data: () => {
        return {
            ownerSlug: null,
            slug: null,
            extSlug: null,

            isLoading: null,

            campaign: null,
            campaignId: null,
            // fundId: null,
            // referrerId: null,
        }
    },
    computed: {
        ...mapGetters('campaigns', [
            'getAsset',
            'getCampaign',
        ]),

    },
    methods: {
        ...mapActions('campaigns', [
            'updateAsset',
        ]),

        /**
         * Update Assets
         */
        updateAssets() {
            /* Initialize body. */
            let body = null

            /* Initialize target. */
            let target = null

            /* Initialize update package. */
            let pkg = null

            /* Set summary. */
            const summary = this.campaign.summary

            /* Validate summary. */
            if (summary && summary.slice(0, 2) === 'Qm' && summary.length === 46) {
                target = summary
            } else if (summary) {
                body = summary
            } else {
                body = 'no campaign summary found'
            }

            /* Build (summary) package. */
            pkg = {
                ownerSlug: this.campaign.owner.slug,
                id: `${this.campaign.slug}.summary`,
                body,
                target,
            }

            /* Request (summary) update. */
            this.updateAsset(pkg)

            /* Initialize body. */
            body = null

            /* Initialize target. */
            target = null

            /* Set description. */
            const description = this.campaign.description

            /* Validate description. */
            if (description && description.slice(0, 2) === 'Qm' && description.length === 46) {
                target = description
            } else if (description) {
                body = description
            } else {
                body = 'no campaign description found'
            }

            /* Build (description) package. */
            pkg = {
                ownerSlug: this.campaign.owner.slug,
                id: `${this.campaign.slug}.description`,
                body,
                target,
            }

            /* Request (description) update. */
            this.updateAsset(pkg)
        },

    },
    created: async function () {
        /* Set is loading flag. */
        this.isLoading = true

        console.log('PARAMS', this.$route.params)
        console.log('QUERY', this.$route.query)
        console.log('HASH', this.$route.hash)

        /* Set owner slug. */
        this.ownerSlug = this.$route.params.pathMatch.toLowerCase()
        console.log('OWNER SLUG', this.ownerSlug)

        /* Set extended slug. */
        this.extSlug = this.$route.params.extSlug
        console.log('EXTENDED SLUG', this.extSlug)

        /* Validate hash. */
        // if (this.$route.hash) {
        //     /* Set extended slug. */
        //     this.fundId = this.$route.hash.slice(1)
        //     console.log('FUND ID (from hash)', this.fundId)
        // }

        /* Validate query. */
        // if (this.$route.query && Object.keys(this.$route.query)[0]) {
        //     /* Set extended slug. */
        //     this.fundId = Object.keys(this.$route.query)[0]
        //     console.log('FUND ID (from query)', this.fundId)
        // }

        /* Validate extended slug. */
        if (this.extSlug && this.extSlug.lastIndexOf('-') !== -1) {
            /* Set campaign id. */
            this.campaignId = this.extSlug.slice(0, this.extSlug.lastIndexOf('-'))
            // console.log('this.campaignId', this.campaignId)

            /* Set campaign slug. */
            this.slug = this.extSlug.slice(0, this.extSlug.lastIndexOf('-'))
            console.log('CAMPAIGN SLUG', this.slug)

            /* Set referrer id. */
            this.referrerId = this.extSlug.slice(this.extSlug.lastIndexOf('-') + 1)
            console.log('REFERRER ID', this.referrerId)

            /* Set campaign. */
            this.campaign = await this.getCampaign(this.ownerSlug, this.slug)
            console.log('CAMPAIGN', this.campaign)

            /* Validate publish flag. */
            if (this.campaign && this.campaign.isPublished) {
                /* Set referrer id (to campaign). */
                this.campaign.referrerId = this.referrerId

                /* Update assets. */
                this.updateAssets()
            }

        }
    },
    mounted: function () {
        /* Set loading flag. */
        this.isLoading = false
    },
}
</script>

<style scoped>
/*  */
</style>
