<template>
    <main class="faq">
        <Header />

        <!-- <div class="page-title background-page"> -->
        <div class="page-title" :style="{ 'background-image': 'url(' + bannerImg + ')' }">
			<div class="container">
				<h1>Discover Causes</h1>

				<div class="breadcrumbs">
					<ul>
						<li>
                            <router-link to="/">Home</router-link>
                            <span>/</span>
                        </li>

                        <li>
                            Discover Causes
                        </li>
					</ul>
				</div>
			</div>
		</div>

        <section>
            <div class="campaigns-action clearfix">
                <div class="container">
                    <div class="sort">
                        <span>Sort by:</span>

                        <ul>
                            <li class="active">
                                <a href="javascript://">Recent Project</a>
                            </li>

                            <li>
                                <a href="javascript://">Most Project</a>
                            </li>
                        </ul>
                    </div>

                    <div class="filter">
                        <span>Filter by:</span>

                        <form action="javascript://">
                            <div class="field-select">
                                <select name="s">
                                    <option value="">All Stages</option>
                                    <option value="">Pending</option>
                                    <option value="">Cancel</option>
                                    <option value="">Completed</option>
                                </select>
                            </div>

                            <div class="field-select">
                                <select name="s">
                                    <option value="">All Category</option>
                                    <option value="">Design & Art</option>
                                    <option value="">Book</option>
                                    <option value="">Perfomances</option>
                                    <option value="">Technology</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- .campaigns-action -->
            <div class="campaigns">
                <div class="container">
                    <div class="campaign-content">
                        <div class="row">

                            <!-- Start featured. -->
                            <div v-if="featured" class="col-lg-12">
                                <div class="campaign-big-item clearfix">
                                    <a href="javascript://" class="campaign-big-image" @click="loadDetails(featured)">
                                        <!-- <img src="@/assets/img/campaign-big-item.jpg" alt=""> -->
                                        <img :src="featured.media.main" class="featured-img" alt="">
                                    </a>

                                    <div class="campaign-big-box">
                                        <a href="javascript://" class="category" @click="loadCategory(featured)">
                                            {{displayCategory(featured)}}
                                        </a>

                                        <h3 class="featured-title">
                                            <a href="javascript://" @click="loadDetails(featured)">
                                                {{featured.title}}
                                            </a>
                                        </h3>

                                        <div class="campaign-description">
                                            {{featured.summary}}
                                        </div>

                                        <div class="staff-picks-author">
                                            <div class="author-profile">
                                                <a class="author-avatar" :href="weblink(featured)" target="_blank">
                                                    <img :src="avatar(featured)" alt="">
                                                </a>
                                                by
                                                <a class="author-name" :href="featured.ownerLink" target="_blank">
                                                    {{displayOwnerName(featured)}}
                                                </a>
                                            </div>

                                            <div class="author-address">
                                                <span class="ion-location"></span>
                                                {{displayLocation(featured)}}
                                            </div>
                                        </div>

                                        <div class="process">
                                            <div class="raised">
                                                <span :style="{ width: getCompletedPct(featured, true) + '%'}"></span>
                                            </div>

                                            <div class="row process-info">
                                                <div class="col process-pledged">
                                                    <span>{{fundingGoal(featured)}}</span>
                                                    funding goal
                                                </div>

                                                <div class="col process-pledged">
                                                    <span>{{fundingPledged(featured)}}</span>
                                                    pledged
                                                </div>

                                                <div class="col process-time">
                                                    <span>{{numSupporters(featured)}}</span>
                                                    backers
                                                </div>

                                                <div class="col process-funded">
                                                    <span>{{remaining(featured).time}}</span>
                                                    {{remaining(featured).suffix}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End featured. -->

                            <!-- Start causes. -->
                            <div
                                v-for="cause of causes"
                                :key="cause.id"
                                class="col-lg-4 col-md-6 col-sm-6 col-6 filterinteresting filterpopular filterlatest">
                                <div class="campaign-item">
                                    <!-- <a class="overlay" href="javascript://" @click="loadDetails(cause)">
                                        <img :src="cause.coverImgUrl" alt="">
                                        <span class="ion-ios-search-strong"></span>
                                    </a> -->
                                    <a class="category" href="javascript://" @click="loadDetails(cause)">
                                        <img :src="displayImage(cause)" alt="">
                                    </a>

                                    <div class="campaign-box">
                                        <a class="category" href="javascript://" @click="loadCategory(cause)">
                                            {{displayCategory(cause)}}
                                        </a>

                                        <h3>
                                            <a href="javascript://" @click="loadDetails(cause)">
                                                {{cause.title}}
                                            </a>
                                        </h3>

                                        <div class="campaign-description">
                                            {{cause.summary}}
                                        </div>

                                        <div class="campaign-author">
                                            <a class="author-icon" :href="weblink(cause)" target="_blank">
                                                <img :src="avatar(cause)" alt="">
                                                by {{displayOwnerName(cause)}}
                                            </a>
                                        </div>

                                        <div class="process">
                                            <div class="row process-info">
                                                <!-- <div class="raised">
                                                    <span :style="{ width: getCompletedPct(cause, true) + '%'}"></span>
                                                </div> -->

                                                <div class="col process-pledged text-center">
                                                    <strong>{{fundingGoal(cause)}}</strong>
                                                    <br />goal
                                                </div>

                                                <div class="col process-funded text-center">
                                                    <strong>{{fundingPledged(cause)}}</strong>
                                                    <br />pledged
                                                </div>

                                                <div class="col process-time text-center">
                                                    <strong>{{remaining(cause).time}}</strong>
                                                    <br />{{remaining(cause).suffix}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End causes. -->

                        </div>
                    </div>

                    <div
                        v-if="causes.length < campaigns.length"
                        class="latest-button text-center"
                    >
                        <a href="javascript://" @click="loadMore" class="btn-primary">
                            Load More Causes
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <Footer />
    </main>
</template>

<script>
/* Initialize vuex. */
import { mapGetters } from 'vuex'

/* Import modules. */
import moment from 'moment'
import Nito from 'nitojs'
import numeral from 'numeral'

/* Import components. */
import Footer from '@/components/Footer.vue'
import Header from '@/components/Header.vue'

/* Import JQuery. */
// FIXME: Remove ALL jQuery dependencies.
const $ = window.jQuery

export default {
    components: {
        Footer,
        Header,
    },
    data: () => {
        return {
            usd: null,

            causes: [],
            campaigns: [],
            featured: null,
            numDisplayed: null,
        }
    },
    computed: {
        ...mapGetters('campaigns', [
            'getCampaign',
        ]),

        ...mapGetters('utils', [
            'getCategoryDisplay',
            'getCompletedPct',
            'getFormatFunded',
            'getShuffledArray',
        ]),

        /**
         * Banner Image
         */
        bannerImg() {
            return 'https://i.imgur.com/3UPJZT6.jpg'
        },
    },
    methods: {

        avatar(_campaign) {
            if (_campaign.owner && _campaign.owner.avatar) {
                return _campaign.owner.avatar
            } else {
                return null
            }
        },

        weblink(_campaign) {
            if (_campaign.owner && _campaign.owner.link) {
                return _campaign.owner.link
            } else {
                return null
            }
        },

        displayImage(_campaign) {
            if (_campaign && _campaign.media.main) {
                return _campaign.media.main
            } else {
                return null
            }
        },

        displayCategory(_campaign) {
            if (_campaign) {
                return this.getCategoryDisplay(_campaign.category)
            } else {
                return null
            }
        },

        displayOwnerName(_campaign) {
            if (_campaign && (_campaign.owner.label || _campaign.owner.nickname)) {
                return _campaign.owner.label || _campaign.owner.nickname
            } else {
                return null
            }
        },

        displayLocation(_campaign) {
            if (_campaign) {
                return _campaign.location
            } else {
                return null
            }
        },

        /**
         * Funding Goal
         */
        fundingGoal(_campaign) {
            console.log('FUNDING GOAL', _campaign);
            if (_campaign && _campaign.assurances) {
                const assuranceid = 0

                /* Set recipients. */
                const recipient = _campaign.assurances[assuranceid].recipient

                /* Validate recipients. */
                if (!recipient) {
                    return '$0.00'
                }

                const calc = (recipient.satoshis / 100000000 * this.usd)

                return numeral(calc).format('$0,0[.]00')
            }

            return '$0.00'
        },

        /**
         * Funding Pledged
         */
        fundingPledged(_campaign) {
            if (_campaign && (_campaign.assurances || _campaign.payouts)) {
                if (_campaign.assurances) {
                    const assuranceid = 0

                    /* Set pledges. */
                    const pledges = _campaign.assurances[assuranceid].pledges

                    /* Validate recipients. */
                    if (!pledges) {
                        return '$0.00'
                    }

                    /* Initialize total. */
                    let pledgeTotal = 0

                    /* Loop through ALL pledges. */
                    Object.keys(pledges).forEach(pledgeid => {
                        /* Add satoshis to total. */
                        pledgeTotal += pledges[pledgeid].satoshis
                    })

                    /* Calculate USD total. */
                    const totalUSD = (pledgeTotal / 100000000 * this.usd)

                    /* Return formatted value. */
                    return numeral(totalUSD).format('$0,0.00')
                }

                if (_campaign.payouts) {
                    /* Set funders. */
                    const funders = _campaign.payouts.funders
                    // console.log('FUNDERS', funders);

                    /* Validate recipients. */
                    if (!funders) {
                        return '$0.00'
                    }

                    /* Initialize total. */
                    let funderTotal = 0

                    /* Loop through ALL funders. */
                    Object.keys(funders).forEach(funderid => {
                        /* Add satoshis to total. */
                        funderTotal += funders[funderid].monthlyPledgeAmt
                    })
                    // console.log('FUNDER TOTAL', funderTotal);

                    /* Calculate USD total. */
                    const totalUSD = (funderTotal / 1000000 * this.usd)
                    // console.log('TOTAL USD', totalUSD);

                    /* Return formatted value. */
                    return numeral(totalUSD).format('$0,0.00')
                }
            }

            return '$0.00'
        },

        numSupporters(_campiagn) {
            if (_campiagn && (_campiagn.assurances || _campiagn.payouts)) {
                if (_campiagn.assurances) {
                    const assuranceid = 0

                    /* Set pledges. */
                    const pledges = _campiagn.assurances[assuranceid].pledges

                    /* Validate recipients. */
                    if (!pledges) {
                        return 0
                    }

                    /* Return count. */
                    return Object.keys(pledges).length
                }

                if (_campiagn.payouts) {
                    /* Set funders. */
                    const funders = _campiagn.payouts.funders

                    /* Validate recipients. */
                    if (!funders) {
                        return 0
                    }

                    /* Return count. */
                    // FIXME: Limit to `nextPayoutAt` > 0
                    return Object.keys(funders).length
                }
            }

            return '$0.00'
        },

        remaining(_campaign) {
            if (_campaign && (_campaign.assurances || _campaign.payouts)) {
                if (_campaign.assurances) {
                    const assuranceid = 0

                    /* Set remaining time. */
                    const expiresAt = _campaign.assurances[assuranceid].expiresAt
                    console.log('expiresAt', expiresAt, moment().unix());

                    /* Set (remaining) time. */
                    let time = expiresAt - moment().unix()

                    /* Initialize suffix. */
                    let suffix = null

                    /* Calculate minimum value. */
                    if (time > 86400) {
                        time = parseInt(time / 60 / 60 / 24)
                        suffix = 'days to go'
                    } else if (time > 3600) {
                        time = parseInt(time / 60 / 60)
                        suffix = 'hours to go'
                    } else if (time > 60) {
                        time = parseInt(time / 60)
                        suffix = 'mins to go'
                    } else {
                        suffix = 'ending now'
                    }

                    /* Return time time w/ suffix. */
                    return { time, suffix }
                }

                if (_campaign.payouts) {
                    return { time: 0, suffix: 'TODO' }
                }
            }

            return { time: 'n/a', suffix: 'remaining' }
        },

        /**
         * Make Featured
         */
        async makeFeatured() {
            /* Initialize featured candidates. */
            // const candidates = [
            //     'bitcoin-verde-node-development-14214ea4cd41',
            //     'bchd-node-development-8331b54814ea',
            //     'bitcoin-cash-protocol-development-fundraiser-43eda61596e7',
            //     'knuth-platform-development-158ef2f48aa0',
            //     'nito-exchange-443db3869688',
            // ]

            /* Choose a "random" campaign id. */
            // NOTE: Randomly selected.
            // const campaignId = candidates[
            //     Math.floor(Math.random() * candidates.length)
            // ]

            /* Set featured campaign. */
            // this.featured = this.getCampaign(campaignId)
            this.featured = await this.getCampaign('bchplease','hush-your-money')
        },

        /**
         * Load Category
         */
        loadCategory(_cause) {
            /* Set category. */
            const category = _cause.category

            alert('goto ' + category)
        },

        /**
         * Load Details
         */
        loadDetails(_cause) {
            // console.log('CAUSE', _cause)

            /* Set campaign id. */
            const id = _cause.id

            /* Validate id. */
            if (!id) {
                return alert('Invalid ID!')
            }

            /* Set slug. */
            const slug = _cause.slug

            /* Validate slug. */
            if (!slug) {
                return alert('Invalid slug!')
            }

            /* Set owner. */
            const owner = _cause.owner

            /* Validate author id. */
            if (!owner) {
                return alert('Invalid owner!')
            }

            /* Set extended slug. */
            const extSlug = `${slug}-${id.slice(id.lastIndexOf('-') + 1)}`

            /* Load details. */
            this.$router.push(`@${owner.slug}/${extSlug}`)
        },

        /**
         * Load More
         */
        loadMore() {
            /* Set number of (currently) displayed. */
            const numDisplayed = this.causes.length

            /* Set total number of campaigns. */
            const numCampaigns = this.campaigns.length

            /* Initialize number to display. */
            let numToDisplay = 0

            /* Set number of campaigns to display. */
            if (numCampaigns - numDisplayed > 3) {
                numToDisplay = 3
            } else {
                numToDisplay = numCampaigns - numDisplayed
            }

            /* Add campaigns to causes. */
            for (let i = 0; i < numToDisplay; i++) {
                /* Add campaign to cause. */
                this.causes.push(this.getCampaign(this.campaigns[numDisplayed + i]))
            }

        },

        /**
         * Format Requested
         */
        formatRequested(_cause) {
            /* Set requested amount. */
            const requested = _cause.requested

            /* Initialize dollar value. */
            let dollar = null

            /* Calculate dollar value. */
            if (_cause.currency === 'BCH') {
                dollar = requested * 244.18
            } else {
                dollar = requested
            }

            /* Format pledge. */
            const formatted = numeral(dollar).format('$0,0.00')

            /* Return formatted. */
            return formatted
        },

        /**
         * Format Pledged
         */
        formatPledged(_cause) {
            /* Set pledged amount. */
            const pledged = _cause.pledged

            /* Initialize dollar value. */
            let dollar = null

            /* Calculate dollar value. */
            if (_cause.currency === 'BCH') {
                dollar = pledged * 244.18
            } else {
                dollar = pledged
            }

            /* Format pledge. */
            const formatted = numeral(dollar).format('$0,0.00')

            /* Return formatted. */
            return formatted
        },

    },
    created: async function () {
        /* Initialize number of campaigns displayed. */
        this.numDisplayed = 9

        this.usd = await Nito.Markets.getTicker('BCH', 'USD')
        // console.info(`Market price (USD)`, this.usd)

        /* Make a featured campaign. */
        await this.makeFeatured()

        /* Initialize all qualified campaigns. */
        this.campaigns = [
            // 'hush-your-money-60aabe8b',
            'bch-pizza-0e8c00641daa',
            'bchd-node-development-8331b54814ea',
            'bitcoin-cash-protocol-development-fundraiser-43eda61596e7',
            'bitcoin-verde-node-development-14214ea4cd41',
            'blockchain-poker-52c6e99fff12',
            'coins-4-clothes-93e037309d77',
            'crescent-cash-303ceda57eba',
            'knuth-platform-development-158ef2f48aa0',
            'memo-6ecee5eb74e2',
            'naomi-brockwell-tv-fcc6e720c27f',
            'nito-cash-07dd70f04162',
            'nito-exchange-443db3869688',
            'read-cash-fund-44c7d3cfe560',
            'veracrypt-4158c2f0eda0',
        ]

        /**
         * Remove Item Once
         */
        // function _removeItemOnce(arr, value) {
        //     const index = arr.indexOf(value)
        //
        //     if (index > -1) {
        //         arr.splice(index, 1);
        //     }
        //
        //     return arr
        // }

        /* Set (featured) extended slug. */
        // const extSlug = `${this.featured.slug}-${this.featured.id
        //     .slice(this.featured.id.lastIndexOf('-') + 1)}`

        /* Remove featured campaign. */
        // _removeItemOnce(this.campaigns, extSlug)

        /* Shuffle campaigns (array). */
        // this.getShuffledArray(this.campaigns)

        /* Initialize number of campaigns to display. */
        let numToDisplay = 0

        /* Set number of campaigns to display. */
        if (this.campaigns.length > 9) {
            numToDisplay = 9
        } else {
            numToDisplay = this.campaigns.length
        }
        console.log('numToDisplay', numToDisplay);

        /* Add campaigns to causes. */
        // for (let i = 0; i < numToDisplay; i++) {
        //     /* Add campaign to cause. */
        //     this.causes.push(this.getCampaign(this.campaigns[i]))
        // }

        // 'read-cash-fund-44c7d3cfe560',
        // 'veracrypt-4158c2f0eda0',
        /* Request campaigns. */
        const campaigns = await Promise.all([
            // this.getCampaign('bchplease', 'hush-your-money'),
            this.getCampaign('bchpizza', 'bch-for-pizza'),
            this.getCampaign('bitcoinverde', 'bitcoin-verde-node-development'),
            this.getCampaign('blockchainpoker', 'blockchain-poker'),
            this.getCampaign('bchd', 'bchd-node-development'),
            this.getCampaign('coins4clothes', 'coins-4-clothes'),
            this.getCampaign('bitcoinabc', 'bitcoin-cash-protocol-development-fundraiser'),
            this.getCampaign('pokkst', 'crescent-cash'),
            this.getCampaign('knuth', 'knuth-platform-development'),
            this.getCampaign('memo', 'memo'),
            this.getCampaign('bchn', 'bitcoin-cash-node-initiative'),
            this.getCampaign('naomibrockwell', 'naomi-brockwell-tv'),
            this.getCampaign('eatbch', 'help-us-deliver-food-for-one-month'),
            this.getCampaign('bchplease', 'nito-cash'),
        ])
        .catch(err => console.error(err))
        // console.log('RETRIEVED CAMPAIGNS', campaigns)

        /* Load campaigns. */
        campaigns.forEach(campaign => {
            this.causes.push(campaign)
        })

    },
    mounted: function () {
        /* Animated completion bar. */
        $('.raised > span').each(function () {
			$(this)
				.data('origWidth', $(this).width())
				.width(0)
				.animate({
					width: $(this).data('origWidth')
				}, 1200);
		})

    },
}
</script>

<style scoped>
.campaign-item img {
    border: 1px solid rgba(180, 180, 180, 0.2);
    padding: 2px;
    cursor: pointer;
}

.featured-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.featured-img {
    border: 1px solid rgba(180, 180, 180, 0.2);
    width: 570px;
    height: 350px;
}
/* TODO: Add media queries. */

/* .process-info div span {
    margin-right: 60px !important;
} */

.process-info div, .process-info div span {
    /* font-size: 0.9em !important; */
    /* text-align: center !important; */
    margin: 0;
    padding: 0;
}
.process-info strong {
    font-weight: 500;
    font-size: 1.2em;
}
</style>
