<template>
    <main class="faq">
        <Header />

        <div class="page-title background-page">
			<div class="container">
				<h1>Frequently Asked Questions</h1>
				<div class="breadcrumbs">
					<ul>
						<li><router-link to="/">Home</router-link><span>/</span></li>
						<li>FAQ</li>
					</ul>
				</div>
			</div>
		</div>

        <section>
			<div class="container">
				<div class="faq-section">
					<div class="border-title">
						<h2 class="title left-title">
                            Causes Cash — For Contributors
                        </h2>

                        <div class="description left-description">
                            Causes Cash is first and foremost an open "community" project
                            <br />built with the purpose of promoting the global growth and financial health
                            <br />of Bitcoin Cash (BCH) and other crypto ecosystems.
                        </div>
					</div>

					<ul class="list-faq">
                        <li>
							<span class="ion-plus"></span>
                            <a href="javascript://">What is Causes Cash? How does it work?</a>

							<div class="faq-desc">
								<p>
                                    Causes Cash is a campaign / funding platform, similar to GoFundMe.
                                </p>

                                <p>
                                    We DO NOT collect ANY fees on the contributions made to the causes participating in the platform.
                                </p>

                                <p>
                                    We DO work to promote the growth of the Bitcoin Cash (BCH) and other crypto ecosystems by supporting the financial stability of community projects.
                                </p>
							</div>
						</li>

                        <li>
							<span class="ion-plus"></span>
                            <a href="javascript://">What are the fees? Is there a charge?</a>

							<div class="faq-desc">
								<p>
                                    Causes Cash DOES NOT charge ANY fees when you contribute to a cause.
                                </p>

								<p>
                                    Our 3rd-party partners may charge fees for convenience services (eg. currency exchange, bank transfers, etc).
                                </p>
							</div>
						</li>

						<li>
							<span class="ion-plus"></span>
                            <a href="javascript://">How do I change my email and/or password?</a>

                            <div class="faq-desc">
                                <p>
                                    Neither your email, nor your password can be changed.
                                </p>

                                <p>
                                    When you created your account, your email and password were used to create a secure wallet that is ONLY accessible within your web browser.
                                </p>

                                <p>
                                    You are welcome to create a new account at anytime, using any of the available sign in methods, and then linking that account to your current profile.
                                </p>
							</div>
						</li>

						<li>
							<span class="ion-plus"></span>
                            <a href="javascript://">How can I edit my profile? (Name, email, etc.)</a>

                            <div class="faq-desc">
								<p>
                                    When signed in in to your Causes Cash account, click on your name in the top right of the screen from where a drop down menu will appear.
                                    Select ‘Notifications’.
                                </p>

                                <p>
                                    In here you can choose to opt in/out of the weekly Causes Cash newsletter.
                                    You can also set up notification emails to let you know when a certain type of project or a project in a certain location has been published.
                                </p>

                                <p>
                                    In this tab you can also follow/unfollow projects or Hives that you’ve backed or liked by simply checking/unchecking the tick box.
                                </p>
							</div>
						</li>

                        <li>
							<span class="ion-plus"></span>
                            <a href="javascript://">How does the all-or-nothing crowdfunding model work?</a>

							<div class="faq-desc">
								<p>
                                    ...
                                </p>
							</div>
						</li>

                        <li>
							<span class="ion-plus"></span><a href="javascript://">Who can create projects?</a>

							<div class="faq-desc">
								<p>
                                    ...
                                </p>
							</div>
						</li>
						<li>
							<span class="ion-plus"></span><a href="javascript://">Where do funders come from?</a>

							<div class="faq-desc">
								<p>
                                    ...
                                </p>
							</div>
						</li>
						<li>
							<span class="ion-plus"></span><a href="javascript://">Is my project eligible for Causes Cash?</a>

							<div class="faq-desc">
								<p>
                                    ...
                                </p>
							</div>
						</li>
					</ul>
				</div>

                <div class="faq-section section">
					<div class="border-title">
						<h2 class="title left-title">
                            Causes Cash — For Campaign Creators
                        </h2>

						<div class="description left-description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </div>
					</div>

					<ul class="list-faq">
						<li>
							<span class="ion-plus"></span>
                            <a href="javascript://">Can I collect Gift Aid on pledges?</a>

							<div class="faq-desc">
								<p>
                                    ...
                                </p>
							</div>
						</li>
						<li>
							<span class="ion-plus"></span>
                            <a href="javascript://">How do I verify my PayPal/GoCardless account?</a>

							<div class="faq-desc">
								<p>
                                    ...
                                </p>
							</div>
						</li>
						<li>
							<span class="ion-plus"></span>
                            <a href="javascript://">What is verification? How long does it take?</a>

							<div class="faq-desc">
								<p>
                                    ...
                                </p>
							</div>
						</li>
						<li>
							<span class="ion-plus"></span>
                            <a href="javascript://">What do I need to do before launching my project?</a>

							<div class="faq-desc">
								<p>
                                    ...
                                </p>
							</div>
						</li>
						<li>
							<span class="ion-plus"></span>
                            <a href="javascript://">How should I present my project page?</a>

							<div class="faq-desc">
								<p>
                                    ...
                                </p>
							</div>
						</li>
						<li>
							<span class="ion-plus"></span>
                            <a href="javascript://">How do I receive the money I raise? What payment systems do you use?</a>

							<div class="faq-desc">
								<p>
                                    ...
                                </p>
							</div>
						</li>
						<li>
							<span class="ion-plus"></span>
                            <a href="javascript://">How long should I run my campaign for?</a>

							<div class="faq-desc">
								<p>
                                    ...
                                </p>
							</div>
						</li>
						<li>
							<span class="ion-plus"></span>
                            <a href="javascript://">Can projects raise more than their goal?</a>

							<div class="faq-desc">
								<p>
                                    ...
                                </p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>

        <Footer />
    </main>
</template>

<script>
/* Import components. */
import Footer from '@/components/Footer.vue'
import Header from '@/components/Header.vue'

/* Import JQuery. */
// FIXME: Remove ALL jQuery dependencies.
const $ = window.jQuery

export default {
    components: {
        Footer,
        Header,
    },
    mounted: function () {
        $('.faq-desc').hide();
        $('.list-faq li a').on('click', function(e){
            e.preventDefault()

            $('.list-faq li a').not(this).next().slideUp().parent().removeClass('open')
            $(this).next().slideToggle().parent().addClass('open')
        })

    },
}
</script>

<style scoped>
/*  */
</style>
