<template>
    <main>
        <!-- <div class="instructions">
            <h3>INSTRUCTIONS</h3>

            ...
        </div> -->

        <div class="coming-soon">
            Ledger Nano integration is coming soon
            <br />Thank you for your patience and support
        </div>
    </main>
</template>

<script>
/* Import components. */
// import Name from '@/components/Name.vue'

/* Import icons. */
// import '@/compiled-icons/<icon-name>'

/* Import JQuery. */
// FIXME: Remove ALL jQuery dependencies.
// const $ = window.jQuery

export default {
    components: {
        //
    },
    data: () => {
        return {
            //
        }
    },
    methods: {
        //
    },
}
</script>

<style scoped>
/*  */
</style>
